.lu-ng-k-vo {
  background: linear-gradient(
      0deg,
      rgba(228, 230, 233, 1) 0%,
      rgba(228, 230, 233, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  width: 100%;
  min-width: 1900px;
  min-height: 930px;
  position: relative;
}

.lu-ng-k-vo .background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 132px;
  display: flex;
  gap: 32px;
  background-color: #ffffff;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-color: #cccccc;
}

.lu-ng-k-vo .tr-ging-VLU {
  margin-top: 20px;
  width: 480px;
  height: 100px;
  margin-left: 21px;
  background-image: url(./img/tr-gi-ng-VLU.png);
  background-size: cover;
  background-position: 50% 50%;
}

.lu-ng-k-vo .div {
  width: 1387px;
  height: 132px;
  position: relative;
  background-color: #ff0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff;
  backdrop-filter: blur(2.5px) brightness(100%);
  -webkit-backdrop-filter: blur(2.5px) brightness(100%);
}

.lu-ng-k-vo .heading-h-th-ng-qu {
  position: absolute;
  top: 21px;
  left: 30px;
  width: 250px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.lu-ng-k-vo .k-t-c-x-tr-ng-i-h-c {
  position: absolute;
  top: 40px;
  left: 30px;
  width: 1357px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 1.00px;
  line-height: 28.6px;
}

.lu-ng-k-vo .rectangle-wrapper {
  position: absolute;
  width: 100%;
  top: 132px;
  left: 0;
  height: 1069px;
  display: flex;
  background-color: #ffffff;
  opacity: 0.55;
}

.lu-ng-k-vo .rectangle {
  width: 1920px;
  height: 1069px;
  object-fit: cover;
}

.lu-ng-k-vo .overlay-overlayblur {
  display: flex;
  width: 1920px;
  height: 1069px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 132px;
  left: 0;
  background-color: #cecece4c;
  backdrop-filter: blur(2.5px) brightness(100%);
  -webkit-backdrop-filter: blur(2.5px) brightness(100%);
}

.lu-ng-k-vo .background-shadow {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 900px;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 15px #0000001a;
}

.lu-ng-k-vo .heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background: linear-gradient(
    7deg,
    rgba(255, 0, 0, 1) 7%,
    rgba(79, 70, 229, 1) 100%
  );
}

.lu-ng-k-vo .heading {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24px;
}

.lu-ng-k-vo .container {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: -1px;
  left: 0;
}

.lu-ng-k-vo .icon {
  position: relative;
  width: 20.58px;
  height: 24.8px;
}

.lu-ng-k-vo .vector {
  position: absolute;
  width: 100%;
  height: 96.81%;
  top: 0;
  left: 0;
}

.lu-ng-k-vo .l-u-h-s-c-n-chu-n-b {
  position: absolute;
  top: 1px;
  left: 31px;
  width: 671px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 19.8px;
  white-space: nowrap;
}

.lu-ng-k-vo .background-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f8f9fa;
}

.lu-ng-k-vo .background-border {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  padding: 18.8px 20.8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #e6f4ff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d1e7dd;
}

.lu-ng-k-vo .margin {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.2px 10px 1.07e-14px 0px;
  position: relative;
  flex: 0 0 auto;
}

.lu-ng-k-vo .icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.lu-ng-k-vo .vector-wrapper {
  position: relative;
  width: 24px;
  height: 28.8px;
}

.lu-ng-k-vo .img {
  width: 100%;
  height: 83.33%;
  top: 7.38%;
  position: absolute;
  left: 0;
}

.lu-ng-k-vo .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 760.4px;
  align-items: flex-start;
  position: relative;
}

.lu-ng-k-vo .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.lu-ng-k-vo .container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.lu-ng-k-vo .background-shadow-2 {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #0000000d;
}

.lu-ng-k-vo .background-wrapper {
  display: inline-flex;
  flex-direction: column;
  min-width: 45px;
  height: 30px;
  align-items: flex-start;
  padding: 0px 15px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.lu-ng-k-vo .background-3 {
  display: inline-flex;
  min-width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: 0px 11.28px;
  position: relative;
  background-color: #ff0004;
  border-radius: 15px;
}

.lu-ng-k-vo .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.lu-ng-k-vo .container-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.lu-ng-k-vo .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #393939;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.lu-ng-k-vo .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.lu-ng-k-vo .p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #6c757d;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.lu-ng-k-vo .container-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.lu-ng-k-vo .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #393939;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.lu-ng-k-vo .background-4 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 161.5px;
  background-color: #ffe6e6;
  border-radius: 8px;
  border-left-width: 4.8px;
  border-left-style: solid;
  border-color: #ff0004;
  box-shadow: 0px 1px 4px #0000000a;
}

.lu-ng-k-vo .strong-l-u {
  position: absolute;
  top: 14px;
  left: 25px;
  width: 462px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.lu-ng-k-vo .span {
  font-weight: 700;
  color: #b8860b;
}

.lu-ng-k-vo .text-wrapper-5 {
  font-family: "Open Sans-Regular", Helvetica;
  color: #856404;
}

.lu-ng-k-vo .list {
  display: flex;
  flex-direction: column;
  width: calc(100% - 63px);
  align-items: flex-start;
  gap: 3.3px;
  position: absolute;
  top: 46px;
  left: 43px;
}

.lu-ng-k-vo .item {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 67.5px;
}

.lu-ng-k-vo .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #856404;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.lu-ng-k-vo .strong-t-n-sinh-vi-n {
  position: absolute;
  top: -1px;
  left: 0;
  width: 777px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
}

.lu-ng-k-vo .strong-sinh-vi-n-n-m {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  z-index: 1;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.lu-ng-k-vo .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -22.55px;
  z-index: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #856404;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.lu-ng-k-vo .button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20.8px 25px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f8f9fa;
  border-top-width: 0.8px;
  border-top-style: solid;
  border-color: #eaeaea;
}

.lu-ng-k-vo .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 10px 17px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ff0000;
  border-radius: 10px;
  border: 4px solid;
}

.lu-ng-k-vo .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123.28px;
  height: 20px;
  margin-top: -4.00px;
  text-shadow: 0px -1px 0px #00000040;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.lu-ng-k-vo .container-wrapper {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.lu-ng-k-vo .container-5 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.lu-ng-k-vo .img-wrapper {
  position: relative;
  width: 12px;
  height: 14.4px;
}

.lu-ng-k-vo .vector-2 {
  width: 95.83%;
  height: 84.53%;
  top: 10.26%;
  position: absolute;
  left: 0;
}
/* Inject original CSS code here */

.lu-ng-k-vo .background {
  display: flex;
}

.lu-ng-k-vo .heading-h-th-ng-qu {
  background: linear-gradient(90deg, #ff0000 0%, #4f46e5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.lu-ng-k-vo .button {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.lu-ng-k-vo .button:hover {
  background-color: #cc0000;
  transform: translateY(-1px);
}

.lu-ng-k-vo .button:active {
  transform: translateY(0);
}

.lu-ng-k-vo .button:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.lu-ng-k-vo .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lu-ng-k-vo .item {
  list-style: none;
}